{% extends "layout.html" %}
{% block title %}Flask MVC App{% endblock %}
{% block page %}Flask MVC App{% endblock %}

{{ super() }}

{% block content %}
  <!-- home page welcome message -->
  <div style="font-size: 50px; margin-bottom: 15px; margin-top: 15px;">Welcome {{current_user.username}}!</div>
  <!-- div for images at the start of the page -->
  <div class="top-content">
    
    <div class="slideshow-container">
      <div class="slide fade">
        <img src="{{ url_for('static', filename='slide_1.png') }}" alt="Slide 1">
      </div>

      <div class="slide fade">
        <img src="{{ url_for('static', filename='slide_2.png') }}" alt="Slide 2">
      </div>

      <div class="slide fade">
        <img src="{{ url_for('static', filename='slide_3.png') }}" alt="Slide 3">
      </div>

      <div class="slide fade">
        <img src="{{ url_for('static', filename='slide_4.png') }}" alt="Slide 4">
      </div>

      <div class="slide fade">
        <img src="{{ url_for('static', filename='slide_5.png') }}" alt="Slide 5">
      </div>

      <div class="slide fade">
        <img src="{{ url_for('static', filename='slide_6.png') }}" alt="Slide 6">
      </div>
    </div>

    <div class="extra-column"><img src="{{ url_for('static', filename='flyer.png') }}" alt="Flyer"></div>
  
  </div>
  <!-- div for workouts and routine section -->
  <div class="content">
    <!-- div for workouts section -->
    <div class="workouts">
      <p>Browse Workouts</p>
      <!-- div for workouts search bar -->
      <div class="search">

        <div class="dropdown">
          <div class="dropdown-box">Filter by Body Part</div>
          <div class="dropdown-content">
            <ul>
              <li><a href="/filter?bodypart=back">Back</a></li>
              <li><a href="/filter?bodypart=cardio">Cardio</a></li>
              <li><a href="/filter?bodypart=chest">Chest</a></li>
              <li><a href="/filter?bodypart=lower arms">Lower Arms</a></li>
              <li><a href="/filter?bodypart=lower legs">Lower Legs</a></li>
              <li><a href="/filter?bodypart=shoulders">Shoulders</a></li>
              <li><a href="/filter?bodypart=upper arms">Upper Arms</a></li>
              <li><a href="/filter?bodypart=upper legs">Upper Legs</a></li>
              <li><a href="/filter?bodypart=waist">Waist</a></li>
            </ul>
          </div>
        </div>
        
        <form action="/search" method="GET">

          <input type="text" class="searchTerm" name="key" placeholder="Search Workouts">

          <button type="submit" class="searchButton">
            <i class="gg-search"></i>
          </button>

        </form>
      
        <div class="refreshButton">
          <form action="/refresh_workouts" method="GET">
            <button type="submit" style="background-color: transparent; border: none;"><i class="gg-undo"></i></button>
          </form>
        </div>
      </div>
      
      {% if workouts %}
      <div class="card-container">
        {% for workout in workouts %}
          <div class="card">
            
            <button data-open-modal-workout><i class="gg-add-r"></i></button>
            <dialog data-modal-workout class="modal">
              <h2>Add Workout</h2>
              <div class="pop-up">
                <form action="/addRoutine" method="POST">
                  <div>Select Routine</div>
                  <select name="routine_id">
                    {% for routine in routines %}
                    <option value="{{ routine.id }}">{{ routine.name }}</option>
                    {% endfor %}
                  </select>
                  <input type="hidden" name="workout_id" value="{{ workout.id }}">
                  <button type="submit" class="btn">Add To Routine</button>
                </form>
              </div>
              <button data-close-modal-workout>Cancel</button>
            </dialog>

            <div class="card-title">{{ workout.name }}</div>
            <div class="card-content">
              <div class="card-text">Body Part: {{ workout.bodypart }}</div>
              <div class="card-text">Equipment: {{ workout.equipment }}</div>
              <br>
              <div class="card-text">Instructions:</div>
              <div class="card-text">{{ workout.instruction0 }}</div>
              <div class="card-text">{{ workout.instruction1 }}</div>
            </div>
          </div>
        {% endfor %}
       </div>
       {% else %}
       <div>No workouts found!</div>
       {% endif %}
    </div>
    
    <div class="routines">
      <p>My Routines</p>
      <!-- button and pop-up -->
      <button data-open-modal-routine class="add-routine-btn">Create New Routine</button>
      <dialog data-modal-routine class="modal">
        <h2>Create New Routine</h2>
        <div class="pop-up">
          <form action="/createroutine" method="POST">
            <input name="name" type="text" placeholder="Routine Name"/>
            <input type="submit" value="Create"/>
          </form>
        </div>
        <button data-close-modal-routine>Cancel</button>
      </dialog>
      
      <!-- routine card -->
      {% if routines %}
      {% for routine in routines %}
      <div class="routine-card">
          <div class="routine-card-heading">{{ routine.name }}
           
            <a href="/routine/{{ routine.id }}"><i class="gg-eye" style="margin-left: 5px;"></i></a>
            <a href="/delete_routine/{{ routine.id }}" class="btn" onclick="event.preventDefault(); document.getElementById('delete-routine-{{ routine.id }}').submit();"><i class="gg-trash" style="color: white;"></i></a>
            <form id="delete-routine-{{ routine.id }}" action="/delete_routine/{{ routine.id }}" method="POST" style="display: none;">
              <input type="hidden" name="_method" value="DELETE">
              <input type="hidden" name="_token" value="{{ csrf_token }}">
            </form>
            
          </div>
          <div class="routine-card-content">
            <!-- <ul>
              {% if workouts %}
              {% for workout in workouts %} 
              <li>{{ workout.name }}</li>
              {% endfor %}
              {else}
              <div>no workouts</div>
              {% endif %}
            </ul> -->
          </div>
      </div>
      {% endfor %}
      {% else %}
      <h2 style="text-align: center;">No routines found!</h2>
      {% endif %}
    </div>

    
    
  </div>

  <script src="{{ url_for('static', filename= 'main.js') }}"></script>

{% endblock %}




