{% extends "layout.html" %}
{% block title %}Flask MVC App{% endblock %}
{% block page %}Flask MVC App{% endblock %}

{{ super() }}

{% block content %}
  <!-- home page welcome message -->
  <div style="font-size: 50px; margin-bottom: 15px; margin-top: 15px;">Welcome {{current_user.username}}!</div>

  <div class="top-content">
    
    <div class="slideshow-container">
      <div class="slide fade">
        <img src="{{ url_for('static', filename='slide_1.png') }}" alt="Slide 1">
      </div>

      <div class="slide fade">
        <img src="{{ url_for('static', filename='slide_2.png') }}" alt="Slide 2">
      </div>

      <div class="slide fade">
        <img src="{{ url_for('static', filename='slide_3.png') }}" alt="Slide 3">
      </div>

      <div class="slide fade">
        <img src="{{ url_for('static', filename='slide_4.png') }}" alt="Slide 4">
      </div>

      <div class="slide fade">
        <img src="{{ url_for('static', filename='slide_5.png') }}" alt="Slide 5">
      </div>

      <div class="slide fade">
        <img src="{{ url_for('static', filename='slide_6.png') }}" alt="Slide 6">
      </div>
    </div>

    <div class="extra-column"><img src="{{ url_for('static', filename='flyer.png') }}" alt="Flyer"></div>
  
  </div>

  <div class="content">
    
    <div class="workouts">
      <p>Browse Workouts</p>
      
      <div class="search">
        <div class="dropdown">
          <div class="dropbtn">Filter by Body Part</div>
          <div class="dropdown-content">
            <ul>
              <li><a href="/filter?bodypart=back">Back</a></li>
              <li><a href="/filter?bodypart=cardio">Cardio</a></li>
              <li><a href="/filter?bodypart=chest">Chest</a></li>
              <li><a href="/filter?bodypart=lower arms">Lower Arms</a></li>
              <li><a href="/filter?bodypart=lower legs">Lower Legs</a></li>
              <li><a href="/filter?bodypart=shoulders">Shoulders</a></li>
              <li><a href="/filter?bodypart=upper arms">Upper Arms</a></li>
              <li><a href="/filter?bodypart=upper legs">Upper Legs</a></li>
              <li><a href="/filter?bodypart=waist">Waist</a></li>
            </ul>
          </div>
        </div>
        
          
        <form action="search" method="GET">

          <input type="text" class="searchTerm" name="key" placeholder="Search Workouts">

          <button type="submit" class="searchButton">
            <i class="gg-search"></i>
          </button>

        </form>
        

        <div class="refreshButton">
            <i class="gg-undo"></i>
        </div>
      </div>

      
      {% if workouts %}
      <div class="card-container">
        {% for workout in workouts %}
          <div class="card">
            <i class="gg-add-r"></i>
            <div class="card-title">{{ workout.name }}</div>
            <div class="card-content">
              <div class="card-text">Body Part: {{ workout.bodypart }}</div>
              <div class="card-text">Equipment: {{ workout.equipment }}</div>
              <br>
              <div class="card-text">Instructions:</div>
              <div class="card-text">{{ workout.instruction0 }}</div>
              <div class="card-text">{{ workout.instruction1 }}</div>
            </div>
          </div>
        {% endfor %}
       </div>
       {% else %}
       <div>No workouts found!</div>
       {% endif %}
    </div>
    
    <div class="routines">
      <p>My Routines</p>
      
      {% for routine in routines %}
      <div class="routine-card">
          <div class="routine-card-heading">{{ routine.name }}
            <i class="gg-eye"></i></div>
          <div class="routine-card-content">
            lalala
          </div>
      </div>
      {% endfor %}
      
    </div>
    
  </div>

  <script src="{{ url_for('static', filename= 'main.js') }}"></script>

{% endblock %}


