{% extends "layout.html" %}
{% block title %}Login Page{% endblock %}
{% block page %}Login{% endblock %}

{{ super() }}

{% block content %}
<div class="center-content">
  <img src="{{ url_for('static', filename='logo.png') }}" alt="Image Description" style="max-width: 20%; max-height: 20%; margin-bottom: 40px;">
  <div style="text-align: center; font-size: 50px; font-weight: bold;">
    Welcome!
  </div>
  <div style="font-size: 20px; margin-bottom: 40px;">
    Login To View App
  </div>

  <!-- Form for username and password -->
  <form action="/login" method="POST" class="center-content">

    <!-- Username field with creds-label -->
    <creds-label for="username">Username</creds-label>
    <input type="text" id="username" name="username" class="creds-text-field" placeholder="Enter your username">

    <!-- Password field with creds-label -->
    <creds-label for="password">Password</creds-label>
    <input type="password" id="password" name="password" class="creds-text-field" placeholder="Enter your password">

    <!-- Login button -->
    <button type="submit" class="login-button">Login</button>

    <!-- Sign up link -->
    <div class="sign-up-link">
      New to the app? <a href="/signup">Sign up here</a>
    </div>

  </form>
</div>
{% endblock %}
