{% extends "layout.html" %}
{% block title %}View Routine{%endblock %}
{% block page %}View Routine{% endblock %}

{{ super() }}

{% block content %}
<body>
  <div style="font-size: 50px; margin-bottom: 15px; margin-top: 15px;">{{current_user.username}}'s Routines</div>

  <div class="user-routine">
    {% if routine %}
    {% for routine in routines %}
    <div class="user-routine-box">
      <h2>{{routine.name}}</h2>
      {% if workouts %}
      {% for workout in workouts %}
      <div class="user-routine-card">
        <div class="card-title">{{ workout.name }}</div>
        <div class="card-content">
          <div class="card-text">Body Part: {{ workout.bodypart }}</div>
          <div class="card-text">Equipment: {{ workout.equipment }}</div>
          <br>
          <br>
          <div class="card-text">Instructions:</div>
          <div class="card-text">{{ workout.instruction0 }}</div>
          <div class="card-text">{{ workout.instruction1 }}</div>
        </div>
      </div>
      {% endfor %}
      {%else%}
      <div>No workouts in this!</div>
      {%endif%}
    </div>
    {% endfor %}
    {%else%}
    <h2>You have no routines</h2>
    {%endif%}

  </div>
  
</body>
{% endblock %}